/*FONTS*/
@font-face {
  font-family: "TT Commons Regular";
  src: url("../fonts/TypeType-TTCommonsRegular.woff") format("woff"),
  url("../fonts/TypeType-TTCommonsRegular.otf") format("opentype");
}
@font-face {
  font-family: 'TT Commons Medium';
  src: url("../fonts/TypeType-TTCommonsMedium.woff") format("woff"),
       url("../fonts/TypeType-TTCommonsMedium.otf") format("opentype");
}
@font-face {
  font-family: "TT Commons Bold";
  src: url("../fonts/TypeType-TTCommonsBold.woff") format("woff"),
       url("../fonts/TypeType-TTCommonsBold.otf") format("opentype");
}

/*

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #f1f1f1;
  border-bottom: 2px solid red;
}

.topnav a {
  z-index: 100;
  position: absolute;
  font-family: 'TT Commons Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 18px;
  color: #061058;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.topnav a:hover {
  border-bottom: 4px solid #064EFE;
}

.topnav a.active {
  border-bottom: 4px solid #064EFE;
}
*/




body {
  background: #FFFFFF;
  padding-top: 53px;
}

h1 {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 48px;
  color: #FFFFFF;
}
h2 {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 34px;
  color: #FFFFFF;
}
h3 {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}
h4 {
  font-family: 'TT Commons Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 18px;
  color: #061058;
}
h5 {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #061058;
}
h6 {
  font-family: 'TT Commons Regular', Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #061058;
}
p {
  font-family: 'TT Commons Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #545454;
}

/*UNIVERSAL*/
.dark {
  color: #061058;
}
.medium {
  color: #878C97;
}
.white{
  color: #FFFFFF;
}
.heading-light{
  color:white;
}
.polygon {
  fill: #FFFFFF;
}


/*NAVBAR*/
.navbar{
  background-color: white;
}
.navbar li {
  font-family: 'TT Commons Medium', Arial, sans-serif;
  font-size: 14px;
}
.navbar li a {
  color: #212B36;
}
.navbar-btn {
  font-size: 14px;
  display: inline-block;
  color: white !important;
  background-color: #064EFE;
  padding: 9px 0px 5px 0px;
  width: 100px;
}
.navbar .navbar-toggler .icon-bar {
    color: pink !important;
}
.nav-logo{
  width: 166px;
  height: auto;
}
.navbar .nav-link:hover{
    text-decoration: underline;
    color: #064EFE;
}


/*MASTHEAD*/
.masthead {
  padding-bottom: 260px;
}
.masthead-subhead {
  font-family: 'TT Commons Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}
li.icon-01 {
background: url('../images/Icon-01.png') no-repeat left 0px;
background-size: 30px 30px;
padding-left: 50px;
display: block;
}
li.icon-02 {
background: url('../images/Icon-02.png') no-repeat left 0px;
background-size: 30px 30px;
padding-left: 50px;
display: block;
}
li.icon-03 {
background: url('../images/Icon-03.png') no-repeat left 0px;
background-size: 30px 30px;
padding-left: 50px;
display: block;
}
li.icon-04 {
background: url('../images/Icon-04.png') no-repeat left 0px;
background-size: 30px 30px;
padding-left: 50px;
display: block;
}
li.icon-05 {
background: url('../images/Icon-05.png') no-repeat left 0px;
background-size: 30px 30px;
padding-left: 50px;
display: block;
}
.gradient{
  background: linear-gradient(235.24deg, #064EFE 0%, #65DBF7 107.65%);
}
.gradient-2{
  background: linear-gradient(263.39deg, #061058 0%, #3B4ED3 100%);
}
.masthead-btn {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  color: #FFFFFF;
  background-color: #064EFE;
  padding: 15px 0px 12px 0px;
  width: 154px;
}
.masthead-btn:hover {
  text-decoration: underline;
  color: #FFFFFF;
}
.masthead-btn-transparent {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  color: #FFFFFF;
  background-color: transparent;
  padding: 15px 0px 12px 0px;
  width: 154px;
  outline-offset: -1px;
  outline: 1px solid #fff;
}
.masthead-btn-transparent:hover {
  text-decoration: underline;
  color: #FFFFFF;
}
.triangle-svg {
  bottom: 0;
  width: 100%;
  height: 14vw;
  /* set height to pixels if you want angle to change with screen width */
}
.masthead-icon {
  width: 30px;
  height: 30px;
}
.masthead-cards{
  margin-top: -300px;
}
.masthead-cards .card{
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  border: 0px solid rgba(0,0,0,.125);
}
.card-img-top{
  display: block;
  width: 50px;
  height: auto;
}
.card-img-top-b{
  display: block;
  width: 59px;
  height: auto;
}
.blue-card{
  background-color: #064EFE;
}


/*SECTION 1*/
.card-blue{
  background: #F5F8FF;
  border: 0px solid rgba(0,0,0,.125);
}
.card-icon {
  width: 30px;
  height: auto;
}


/*SECTION 2*/
.box-icons {
  width: 86px;
  height: auto;
}
.section-2 {
  position: relative;
  z-index: 1000;
}
.generating-model-icon{
  display: block;
  width: 220px;
  height: auto;
}
.local-feature-icon{
  display: block;
  width: 176px;
  height: auto;
}
.group-feature-icon{
  display: block;
  width: 180px;
  height: auto;
}
.inactive{
  display: none;
}
.active{
  display: block;
}
.inner-box {
  background-color: white;
  box-shadow: 0px 40px 100px rgba(0, 0, 0, 0.1);
}
.slide-row{
  height: 2px;
  width: 100;
  background-color: blue;
}
.slide-holder{
  height: 4px;
  width: 50%;
  background-color: pink;
}

/*SECTION 3*/
.element-image {
  width: 357px;
  height: auto;
}
.technique-card{
  background-color: transparent;
  border: 0px solid #FFFFFF;
  border-radius: 5px;
}
.white-card{
  background-color: white;
}
.local, .group, .feature {
  display: none;
}

/*SECTION 4*/
.interactive-visualization-icon{
  display: block;
  width: 440px;
  height: auto;
}

.section-4 li {
  font-family: 'TT Commons Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
  color: red;
}
li.check-icon {
  color: #878C97;
  background: url('../images/check-icon.png') no-repeat  0 5px;
  background-size: 13px 10px;
  padding-left: 25px;
  display: block;
}


/*SECTION 5*/
.benefits-icons{
  width: 30px;
  height: 58px;
}
.models-behavior-btn {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  color: #064EFE;
  background-color: #FFFFFF;
  padding: 14px 20px 10px 20px;
  margin: 0px 9px;
}
.models-behavior-btn:hover {
  text-decoration: underline;
  color: #064EFE;
}
.models-behavior-btn-transparent {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  padding: 9px 0px;
  margin: 0px 9px;
  width: 120px;
}


/*SECTION 6*/
.section-6{
  background: linear-gradient(41deg, #061058 3.01%, #3B4ED3 165.83%);
}
.contribute-btn{
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  color: #FFFFFF;
  background-color: #064EFE;
  padding: 14px 0px 10px 0px;
  margin: 0px 9px;
  width: 120px;
}
.contribute-btn:hover {
  text-decoration: underline;
  color: #FFFFFF;
}


/*FOOTER*/
.p-2{
  color:#FFFFFF;
}
.footer-nav{
  list-style: none;
  padding: 0px;
}
.footer-nav .nav-link{
  padding: 8px 0px 8px 0px;
}
.page-footer{
  background-color: #061058;
}
.footer-btn-transparent{
  font-family: 'TT Commons Medium', Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  width: 100px;
  padding: 9px 0px 5px 0px;
}
.footer-btn-transparent:hover {
  text-decoration: underline;
  color: #FFFFFF;
}
.footer-logo{
  width:121px;
  height: auto;
}
.footer-custom-margin{
  margin-bottom: 0px;
}
.footer-italic {
  font-family: 'TT Commons Regular', Arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
.footer-bold {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
}
.footer-small {
  font-family: 'TT Commons Regular', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
}
.footer-line{
  width: 100%;
  height:1px;
  background-color: #FFFFFF;
  opacity: .2;
}
.copyright-text{
  padding-top: 11px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .masthead-cards .card{
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  }
  .masthead-cards{
    position: relative;
    z-index: 5000;
    margin-top: -210px;
  }
  .masthead {
    padding-bottom: 160px;
  }
}

@media (min-width: 992px) {
  .masthead {
    padding-bottom: 160px;
  }
  .masthead-cards{
    position: relative;
    z-index: 5000;
    margin-top: -210px;
  }
}

@media (min-width: 1200px){
  .container {
    max-width: 1140px;
  }
  .masthead-cards{
    margin-top: -250px;
  }
}